<label for="recipe_name">Name</label>
  <br><input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>">
  <br><label for="recipe_text">Recipe Text:</label>
  <br><textarea id="recipe_text" name="recipe[text]" placeholder="Enter recipe here!" rows="25" cols ="50">
  <%= @recipe.text %>
  </textarea>



