<h1 class="jumbotron"><a href="/"><span class='name'>Recipes</span></a></h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>

<p><br><form action="/recipes/" method="get">
  <input placeholder="Search all Recipes!" name="search" type="text" value=""></input>
  <button>Search!</button>
</form></p>
<p><br><h4>Sort Recipes:</h4><form action="/recipes/" method="get">
  <select id="asc_desc" name="asc_desc">
    <option value = "asc" selected="selected">Ascending</option>
    <option value = "desc">Descending</option>
  </select>
  <select id="field" name="field">
    <option value="name" selected="selected">Name</option>
    <option value="star">Rating</option>
  </select>
  <br><button>Sort!</button>
</form></p>
<p><br><a href="/recipes/new" class="navigation">Add a Recipe to the Cookbook</a></p>
<p><a href="/tags/">View all Cookbook Tags</a></p>
