<h1 class="jumbotron">Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<p><a href="/tags/new" class='navigation'>Add a Tag to the Cookbook</a>
<br><a href="/recipes/">Return to the Cookbook Index</a></p>
